{% extends "ticketSales/layout.html" %}

{% block titlepage %} 
    ویرایش کنسرت 
{% endblock%}

{% block mainContent %}
    <form action="" method="POST">
        {% csrf_token %}
        <!-- {{ concertForm }} -->
        <div class="mainborder">
            <div class="row">
                <div class="col-md-6">
                    <p class="my label">Name:{{ concertForm.Name }}</p>
                    <p class="my label">SingerName:{{ concertForm.SingerName }}</p>
                    <p class="my label">length:{{ concertForm.length }}</p>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
        <div class="bottonborder">
            <button type="submit" class="btn btn-success">ذخیره</button>
        </div>
    </form>
{% endblock%}


